h1,h2,h3,h4,h5,h6,p,body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* Navabar Section CSS Starts */

.main {
    margin: 0 5%;
    padding: 20px 0;
}
.log {
    width: 50%;
}
.log h2 {
    font-size: 30px;
    font-weight: 800;
    color: #5B5B5B;
    margin-top: 8px;
}
.menu {
    width: 50%;
}
.menu ul {
    display: flex;
}

.menu ul li {
    margin-left: 8%;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color:  #5B5B5B;
    font-weight: 700;
}

/* Navabar Section CSS Ends */



/* Header Section CSS Starts */

#hero {
    margin: 50px 0px;
}

.flexible-container {
    display: flex;
}
.left-hero-content {
    margin-left: 10%;
    width: 100%;
    margin-top: 30%;
}
.left-hero-content h1 {
    font-size: 48px;
    color: #575757;
}
.left-hero-content p {
    font-size: 18px;
    font-weight: 500;
    color: #575757;
    margin-top: 50px;
    margin-bottom: 70px;
    line-height: 28px;
}
.left-hero-content a {
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(to right, #FBA24F , #FF1E1E);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.right-hero-content {
    margin-right: 4%;
    width: 50%;
    margin-left: 5%;
}
.orange-text {
    color: #FC8B47;
}


/* Header Section CSS Ends */


/* About Section CSS Starts */

.about {
    padding: 35px 0px;
    background-image: url(../images/bg_about.png);
    background-repeat: no-repeat;
    /* /* background-size: cover;  */
    background-position-x: right; 
}

.left-about {
    width: 50%;
}
.left-about img {
    height: 100%;
    width: 100%;
}
.right-about {
    width: 40%;
}

.right-about-content {
    margin-top: 120px;
}
.right-about-content h2 {
    font-size: 40px;
    color: #707070;

}
.right-about-content p {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 1px;
    line-height: 28px;
}

.right-about-content a {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(to right, #FBA24F , #FF1E1E);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

/* About Section CSS Ends */

/* Recipies Section CSS Starts */

#recipies {
    background: #FEFEFE;
    padding-bottom: 50px;
}
.recipies-header {
    margin: 50px 0px;
    text-align: center;
}
.recipies-header h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    color: #676767;
}
.recipies-header p{
    width: 50%;
    margin: 10px auto;
    font-size: 18px;
    color: #252525;
    line-height: 28px;
}
.recipies-card {
    margin: 0 5%;
}
.card {
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0px 0px 50px 0px #EDEDED;

}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
} 
.card h4{
    margin: 20px 0px;
    font-size: 28px;
    font-weight: 800;
    color: #18191F;
}   
.card p{
    line-height: 28px;
}

.margin-10 {
    margin: 0 5%;
}

/* Recipies Section CSS Ends */


/* Followers Section CSS Starts */
#followers {
    margin: 50px 0px;
}
.main-followers {
    /* text-align: center; */
    margin: 0 5%;
    box-shadow: 0px 0px 50px 0px #EDEDED;
    border-radius: 20px;
}
.follower {
    width: 30%;
    padding: 50px;
}
.follower h5 { 
    color: #18191F;
    font-weight: 700;
    font-size: 48px;
}
.follower p { 
    color: #18191F;
    font-weight: 400;
    font-size: 16px;
}

/* Followers Section CSS Ends */


/* Food Quality Section CSS Starts */

#food-quality {
    margin: 50px 0px;
}

.main-food-quality {
    margin: 0 5%;
}
.left-food-quality-content {
    width: 50%;
}
.left-food-quality-content img {
    width: 100%;
    height: auto;
}

.bar-container {
    margin-left: 10%;
    margin-top: 8%;
}
.bar-container p{
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: 700;
} 
.bar {
    width: 500px;
    height: 10px;
    border : 2px solid #ff6f6f;
    border-radius: 5px;
}

.progress {
    width: 400px;
    height: 5px;
    background: #FBA24F;
    border-radius: 5px;
    margin-top: 2.5px;
    margin-left: 3px;
}
.w-350 {
    width: 350px;
}
.w-300 {
    width: 300px;
}
.w-450 {
    width: 450px;
}
.w-250 {
    width: 250px;
}
/* Food Quality Section CSS Ends */


/* Footer Section CSS Starts */

#footer {
    padding: 50px 0px 100px 0px;
    background: #000;
}

.footer-content {
    text-align: center;
}
.footer-content h6 {
    font-size: 30px;
    font-weight: 800;
    color: #5B5B5B;
}
.footer-content p{
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   margin-top: 30px;
}

/* Footer Section CSS Ends */